<div id = 'def_div'>
<h2>Welcome <%= session[:user_profile].user_name || "Please set your alias in your profile" %></h2>
<p><%= link_to 'Profile', edit_profile_path %></p>
<p><%= link_to 'Manage Users', user_list_path %></p>
<p><%= link_to 'Export Mizo-English as text', export_mizoenglish_path, :id => "export_mizoenglish" %>
<div id = "status"</div></p>
</div>
<script src='/javascripts/chibai.js'></script>