<div id = 'def_div' class = "form-box">
<h1>Edit your profile!</h1>

<%= render 'form' %>
<%= link_to 'Change Password', edit_contributor_registration_path %>
<%= link_to 'Back to Search', root_path %>
</div>