<div id = 'def_div'>
	<div class ="footer" id="footer" align=center>
		<%= link_to 'Login', login_path %>
		<%= link_to 'Back to Search', root_path %>
	</div>
<h1>Sign Up</h1>

<%= render 'form' %>

<%= link_to 'Back', root_path %>
</div>