<div id = 'def_con'>
<h1>Contribute a word</h1>

<%= render 'entry' %>
<hr>
<%= link_to 'Back', root_path %>
</div>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src='/javascripts/chibai.js'></script>