<div id = 'def_div'>
	<% if @unapproved.empty? %>
	<center>
		<br><br><br>
		<h2>No words to review!</h2>
	</center>
	<% else %>
		<% @unapproved.each do |word| %>
			<br><%= link_to word.thumal, review_path(:id => word.id) %>
		<% end %>

	<% end %>
	<center>
	<br><br>
		<%= link_to "Back to Search", root_path %>
	</center>
	
</div>