<div id ='search_div' class='topp'>
	<h2>Chibai
		<% if contributor_signed_in? %>
		<%=(session[:user_profile]).try(:user_name)%>
		<% end %>
		!</h2>
	<div id='search-box' class='form-box'>
		<p><input type = 'text' size =23 id = 'key_word' autofocus onkeyup="searchWord();" onkeydown="key_down(event)" autocomplete="off" placeholder = "Enter a mizo word"></p>
	  	<p><input type = 'button' value = 'Search' onclick = 'searchWord()' id = 'search' class = "buttons"></p>
	</div>
</div>

<div id = "def_div">
</div>

<script src='/javascripts/chibai'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link href='/favicon.ico' rel='icon' type='image/x-icon'/>
<script>jQuery.noConflict();</script>
