<div id ='search_div' class='topp'>
	<div class ="footer" id="footer" align=center border=1><span id = "helper" onclick="help()"><a href="#"> Help</a> </span><%= link_to 'Add a new word', contribute_path %></div>
	<h2>Chibai!!</h2>
	<div id='search-box' class='topp'>
		<input type = 'text' size =23 id = 'key_word' autofocus onkeyup="searchWord();" onkeydown="key_down(event)" autocomplete="off" placeholder = "Enter a mizo word">
	  	<input type = 'button' value = 'Search' onclick = 'searchWord()' id = 'search'>	
	</div>
</div>

<div id = "def_div">
</div>

<%=  javascript_include_tag 'chibai' %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link href='/favicon.ico' rel='icon' type='image/x-icon'/>
<script>jQuery.noConflict();</script>
