<div id = 'def_div'>
	<h3><center>Zódic a thlûna hmante</center></h3>
	<br><p>Hêng thlûknate hi hman a ni:</p>
	<ul class = "bullets">
		<li><b>á</b> : Thingkûng s<b>á</b>ng tak.
		<li><b>ä</b> : Chéng s<b>ä</b>ng sarih.
		<li><b>â</b> : Lui kan k<b>â</b>n.
		<li><b>à</b> : Ka duhd<b>à</b>n tak a ni e.
	</ul>
	<p>Entírna dang:</p>
	<p>
		Áw máma i chún leh zuáte'n<br>
		kan hmangaihin ka duât a che<br>
		I lö seilen hun kan nghâkhlel<br>
		Áw máma Siamtu chung Pathian zárah<br>
		Dam tëin i lö seilian zël a<br>
		Thlëmtu an pung zël dáwn<br><br>
		Invéng fímkhur rawh i ṭhatlái níte hian<br>
		Ruihtheihthil ṭha lo leh ṭhian suäl lakah<br>
		Tihbovin awm suh la, fing takin Siamtu ṭih la<br>
		I chún leh zuá thü ang zëlin<br>
		Invéng fímkhur rawh i ṭhatlái níte hian<br>
		Nula ṭha lo leh ṭhian süal lakah<br>
		Tihbovin awm suh la, fing takin Siamtu ṭih la<br>
		I chún leh zuá thü ang zëlin<br>
	</p>
	<%= link_to 'Back to Search', root_path %>
</div>